@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
	font-family:宋体,微软雅黑,黑体;
	color:#565656;
/*	background-color:#f7f7f7;*/
}
div, html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, span {
	margin:0;
	padding:0;
}
img {
	border:0;
}
ul, li {
	list-style:none;
}
input {
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;
}
input:focus {
    outline:none;
}
select, input, img {

}
a {
	text-decoration:none;
	cursor:pointer;
	color:#565656;
}
a:hover {
	color:#cf3032 !important;
	text-decoration:none;
}
.clear {
	clear:both;
}
.fl {
	float:left;
}
.fr {
	float:right;
}

/**/
