<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingc.busi.common.mapper.AppVersionInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jingc.busi.common.table.AppVersionInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sys_type" property="sysType" jdbcType="CHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="version_code" property="versionCode" jdbcType="VARCHAR" />
    <result column="update_addr" property="updateAddr" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="CHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, sys_type, version, version_code, update_addr, file_name, state, description
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from app_version_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from app_version_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.jingc.busi.common.table.AppVersionInfo" >
    insert into app_version_info (id, sys_type, version, 
      version_code, update_addr, file_name, 
      state, description)
    values (#{id,jdbcType=INTEGER}, #{sysType,jdbcType=CHAR}, #{version,jdbcType=INTEGER}, 
      #{versionCode,jdbcType=VARCHAR}, #{updateAddr,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, 
      #{state,jdbcType=CHAR}, #{description,jdbcType=VARCHAR})
  </insert>
 
  <update id="update" parameterType="com.jingc.busi.common.table.AppVersionInfo" >
    update app_version_info
    <set >
      <if test="sysType != null" >
        sys_type = #{sysType,jdbcType=CHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="versionCode != null" >
        version_code = #{versionCode,jdbcType=VARCHAR},
      </if>
      <if test="updateAddr != null" >
        update_addr = #{updateAddr,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectLastVersionByType" resultMap="BaseResultMap">
  select <include refid="Base_Column_List" /> from app_version_info
    where sys_type = #{sysType,jdbcType=CHAR} order by version desc limit 1
  </select>
  
</mapper>