<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingc.busi.common.mapper.MachineConfigMapper" >
  <resultMap id="BaseResultMap" type="com.jingc.busi.common.table.MachineConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="model_name" property="modelName" jdbcType="VARCHAR" />
    <result column="model_code" property="modelCode" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="k_ps2" property="kPs2" jdbcType="VARCHAR" />
    <result column="k_usb" property="kUsb" jdbcType="VARCHAR" />
    <result column="k_touchscreen" property="kTouchscreen" jdbcType="VARCHAR" />
    <result column="r_serialport" property="rSerialport" jdbcType="VARCHAR" />
    <result column="r_usbimage" property="rUsbimage" jdbcType="VARCHAR" />
    <result column="r_usbdata" property="rUsbdata" jdbcType="VARCHAR" />
    <result column="p_serialport" property="pSerialport" jdbcType="VARCHAR" />
    <result column="p_usb" property="pUsb" jdbcType="VARCHAR" />
    <result column="p_parallelport" property="pParallelport" jdbcType="VARCHAR" />
    <result column="product_number" property="productNumber" jdbcType="VARCHAR" />
    <result column="print_receivedata_end" property="printReceivedataEnd" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, model_name, model_code, type, k_ps2, k_usb, k_touchscreen, r_serialport, r_usbimage, 
    r_usbdata, p_serialport, p_usb, p_parallelport, product_number,print_receivedata_end
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from machine_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from machine_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jingc.busi.common.table.MachineConfig" >
    insert into machine_config (model_name, model_code, 
      type, k_ps2, k_usb, k_touchscreen, 
      r_serialport, r_usbimage, r_usbdata, 
      p_serialport, p_usb, p_parallelport, 
      product_number,print_receivedata_end)
    values (#{modelName,jdbcType=VARCHAR}, #{modelCode,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{kPs2,jdbcType=VARCHAR}, #{kUsb,jdbcType=VARCHAR}, #{kTouchscreen,jdbcType=VARCHAR}, 
      #{rSerialport,jdbcType=VARCHAR}, #{rUsbimage,jdbcType=VARCHAR}, #{rUsbdata,jdbcType=VARCHAR}, 
      #{pSerialport,jdbcType=VARCHAR}, #{pUsb,jdbcType=VARCHAR}, #{pParallelport,jdbcType=VARCHAR}, 
      #{productNumber,jdbcType=VARCHAR},#{printReceivedataEnd,jdbcType=VARCHAR})
  </insert>
  
  <select id="selectAllMachineConfig" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" /> from machine_config  order by machine_config.id
   <if test="pagination != null">limit #{pagination.firstResult},#{pagination.pageSize}</if>
  </select>
  
   <select id="getMachineCount" resultType="java.lang.Integer">
	 select count(id) 
	 from machine_config
   </select>
   
  <update id="update" parameterType="com.jingc.busi.common.table.MachineConfig" >
    update machine_config
    <set >
      <if test="modelName != null" >
        model_name = #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="modelCode != null" >
        model_code = #{modelCode,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="kPs2 != null" >
        k_ps2 = #{kPs2,jdbcType=VARCHAR},
      </if>
      <if test="kUsb != null" >
        k_usb = #{kUsb,jdbcType=VARCHAR},
      </if>
      <if test="kTouchscreen != null" >
        k_touchscreen = #{kTouchscreen,jdbcType=VARCHAR},
      </if>
      <if test="rSerialport != null" >
        r_serialport = #{rSerialport,jdbcType=VARCHAR},
      </if>
      <if test="rUsbimage != null" >
        r_usbimage = #{rUsbimage,jdbcType=VARCHAR},
      </if>
      <if test="rUsbdata != null" >
        r_usbdata = #{rUsbdata,jdbcType=VARCHAR},
      </if>
      <if test="pSerialport != null" >
        p_serialport = #{pSerialport,jdbcType=VARCHAR},
      </if>
      <if test="pUsb != null" >
        p_usb = #{pUsb,jdbcType=VARCHAR},
      </if>
      <if test="pParallelport != null" >
        p_parallelport = #{pParallelport,jdbcType=VARCHAR},
      </if>
      <if test="productNumber != null" >
        product_number = #{productNumber,jdbcType=VARCHAR},
      </if>
	  <if test="printReceivedataEnd != null" >
        print_receivedata_end = #{printReceivedataEnd,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>