@charset "utf-8";
/* CSS Document */
/*head end*/

/*.center{ width:996px; margin:0 auto; border:1px solid #d1d0d0; height:auto; border-top:1px solid #024f7a;}*/
.centerbx{ width:996px; margin:0 auto; border:1px solid #d1d0d0; height:auto; border-top:1px solid #024f7a;}
.left_dianpu{ width:604px; float:left;}
.xinxi{ margin:10px 0 0 10px;}
.xinxi_a{ background:url(../images/bj.jpg) no-repeat; width:528px; height:42px; display:block; line-height:42px; float:right; font-size:16px; font-weight:bold; color:#333; margin-right:1px; text-indent:10px;}
.left_dianpu ul li{ margin-top:12px; margin-left:66px; background:url(../images/nav_06.png) no-repeat left; text-indent:1em; font-size:12px; /*color:#959595;*/}
.asd{ margin-left:64px; background:url(../images/nav_06.png) no-repeat left; padding-left:14px;}
.asd_a{ margin-left:106px; background:url(../images/nav_06.png) no-repeat left; padding-left:14px;}
.right_dianpu{ float:right;}
.renzheng_a{ background:url(../images/bj_b.jpg) no-repeat; width:334px; height:42px; display:block; line-height:42px; float:right; font-size:16px; font-weight:bold; color:#333; text-indent:10px; margin-left:2px;}
.renzheng{ margin:10px 0 0 8px; display:inline-block;}
.gongxian{ margin:0px 0 0 90px;}
.jieshao{ margin:10px 0 0 10px;}
.jieshao_a{ background:url(../images/bj_d.jpg) no-repeat; width:928px; height:42px; display:block; line-height:42px; float:right; font-size:16px; font-weight:bold; color:#333; padding-left:10px; margin-left:2px;}
.jieshao_b{ width:856px; font-size:12px; line-height:20px; color:#5f5f5f; padding-left:10px;}
.jieshao_b p{margin-left: 50px;font-weight: bold;line-height: 20px;margin-bottom: 10px;margin-top: 10px;}
.jieshao_b img{width:935px;height:532px; }
.ditu{ margin:10px 0 0 10px;}
.ditu_a{ background:url(../images/bj_d.jpg) no-repeat; width:928px; height:42px; display:block; line-height:42px; float:right; font-size:16px; font-weight:bold; color:#333; padding-left:10px; margin-left:2px;}
.ditu_b{ margin:14px 0 0 56px;}margin:20px 0 0 54px;





























































